/* Nav bar styles */
img#logo {
    vertical-align: middle;
    width: 20%;
    transition: 0.3s;
}

ul {
    display: inline;
    list-style: none;
}

li {
    display: inline;
    padding: 30px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1em;
}

a:hover {
    color: orange;
}

nav {
    background-color: white;
    position: fixed;
}

/* Body styles */
img#body {
    width: 100%;
}